<div class="card m-4">
    <div class="container-md card-body">
        <div class="row">

            <div class="col-3 d-none d-sm-block">
                <img class="img-fluid" src="assets\images\solid\medium\logo-alfabg.png">
            </div>
            
            <div class="col-9">
                <div class="row">

                    <h3 class="col">{{ explotacion.nombre }}</h3>

                </div>

                
                <div class="row">
                    <p>{{ explotacion.parcelas.length}} parcelas</p>

                </div>
                
                <div class="row">
                    <div class="col">
                        <h5>{{ explotacion.provincia }}</h5>
                    </div>
                    <div class="col">
                        <h6>{{ explotacion.localidad }}</h6>
                    </div>
                    <div class="col">
                        <p>{{ explotacion.direccion }}</p>
                    </div>

                    

                </div>
            </div>
            
        </div>
    </div>
</div>