<div class="container text-center">
  <div class="row mt-4">

    <div class="col-2 col-lg-3"></div>

    <div class="col-8 col-lg-6" style="max-width: 600px;">
      <div class="card mt-5">


        <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()" class="container-md text-center card-body">

        <img src="assets\images\solid\medium\logo-alfabg.png" class="img-fluid" style="max-height: 300px;" alt="AgroBook Logo">

        <h5 class="card-title mt-4">Iniciar Sesión</h5>


          <div class="row mt-4">
            <div class="col-12 col-lg-6">
              <label for="username">Nombre de Usuario: </label>
            </div>
          
            <div class="col-12 col-lg-6">
              <input id="username" type="text" formControlName="username">
            </div>
          </div>
        
            
          <div class="row mt-2">
            <div class="col-12 col-lg-6">
              <label for="password">Contraseña: </label>
            </div>
        
            <div class="col-12 col-lg-6">
              <input id="password" type="{{ mostrarContrasena? 'text' : 'password' }}" formControlName="password">
            </div>
          </div>

          <div class="row">
            <label>
              Mostrar Contraseña
              <input type="checkbox" [(ngModel)]="mostrarContrasena" [ngModelOptions]="{standalone: true}"/>
            </label>
          </div>
          
          <div class="row mt-4">
            <div class="col">
              <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid" >Iniciar Sesión</button>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="col-2 col-lg-3"></div>

  </div>
</div>

