/* You can add global styles to this file, and also import other style files */
// Light mode
$primary:     #a3e98b !default;
$secondary:   #10a392 !default;
$success:     #07c975 !default;
$info:        #0dcaf0 !default;
$warning:     #ffc107 !default;
$danger:      #dc3545 !default;
$light:       #e0f3f1 !default;
$dark:        #212529 !default;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


@import "../node_modules/bootstrap/scss/bootstrap";

